#canvas{text-align: center;}
#log{font-size: 2; color: gray;}
#prompt{font-size: 65px; line-height: 36px; font-weight: bold; color: #404040; margin: 0px auto; text-align: center;;}
#chart{margin-top:50px;font-size: 65px; line-height: 36px; font-weight: bold; color: #404040; margin: 0px auto; text-align: center;;}
#input{margin: 0px auto; margin-top: 30px; text-align: center;}
.update{color: green; font-weight: bold}
.log-entry{margin-bottom: 0px ! important}
#chart{width:550px; margin: 0 auto;}